:root{
  --color1: #c22791;
  --color2: #f37124;
  --color3: #d0dd2e;
  --color4: #33adba;
}
*,*:after,*:before{
  box-sizing: border-box;
  font-family: 'KoHo', sans-serif;
}
.swiper-pagination-bullet-active{
  background-color: var(--color4);
}
.inf-header{
  border-top: 3px solid var(--color4);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.inf-header p{
  padding: 0;
  margin: 0;
  padding-right: 30px;
  
  line-height: 3;
}
.inf-header p a{
  color: #c22791;
}
.inf-header p a:hover{
  text-decoration: none;
  font-weight: 600;
}
.productos{
  margin-top: 50px;
  margin-bottom: 50px;
}
.productos div img {
  max-width: 100%;
}
#empresa{}
@media screen and (min-width: 767px){
  #empresa .col-12{
    margin: 0 !important;
    padding: 10px 0; 
    width: 100%;
    font-size: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
  }
  #empresa{
    margin-top: 30px;
  }
  #empresa h3{
    margin-top: 0;
    padding: 10px 0 10px 0;
  }
}
.navbar-toggler:focus{
  outline: none;
}
.navbar{
  border-top: 1px solid rgba(0,0,0,.2);
  height: 100px;
  padding: 0;
}
.navbar .container{
  height: 100%;
}
.navbar.navbar-light{
  background-color: rgba(255,255,255,.6)!important;
}
.navbar-nav{
  display: flex;
  align-items: center;
}
.navbar-nav a{
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
}
.navbar-nav a:hover{
  border-top: 3px solid var(--color4);
}
.collapse.navbar-collapse,.navbar-nav{
  height: 100%;
}
.nav-item:hover{
  border-top:3px solid var(--color2);
}
        @media screen and (max-width: 991px){
          .hamburger.is-active .hamburger-inner,
          .hamburger.is-active .hamburger-inner:after,
          .hamburger.is-active .hamburger-inner:before,
          .hamburger-inner, .hamburger-inner:after,
          .hamburger-inner:before {
            background-color: #000000;
            transition: all .3s linear;
          }
          .hamburger.is-active span.hamburger-inner,
          .hamburger.is-active span.hamburger-inner:after,
          .hamburger.is-active span.hamburger-inner:before{
            background-color: var(--color4)!important;
          }
          .navbar-collapse{
            width: 100%;
            transition: all .4s linear;
          }
          .navbar-nav{
            border-top: 5px solid var(--color4);
            margin-top: 10px;
            width: 100%;
            text-align: center;
            display: block;
          }
          .navbar-nav a{
            background-color: rgba(255,255,255,.6)!important;
            font-size: 20px;
            height: 100%;
            line-height: 100px;
            height: 100px;
            display: block;
          }
          .navbar-nav a:hover{
            border-top: none;
            border-bottom: 3px solid var(--color4);
            color: #000000!important;
            font-weight: 600;
          }
        }
